@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  color: white;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background-color: rgb(10, 10, 10); */
}
.home-wrapper {
  background: #f1f4f9;
  margin: 0px;
  padding: 0;
}

.main-header {
  background: #000;
  padding: 2px 80px;
  min-height: 80px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.logo {
  position: relative;
  font-size: 32px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  /* text-align: left; */
  letter-spacing: 1px;
  width: 20%;
  display: flex;
  justify-content: center;
}
.main-header-item {
  min-width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.main-dashboard{
  padding: 7px 80px;
  position: relative;
}
.main-dashboard {
  min-height: calc(100vh - 100px);
}

.sidebar {
  position: absolute;
  top: 15px;
  left: 80px;
  height: calc(100vh - 100px);
  background: transparent;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  padding-top: 50px;
}
.side-item {
  position: relative;
  font-size: 16px;
  line-height: 44px;
  font-weight: 500;
  font-family: Inter;
  color: #000;
  text-align: left;
  padding-left: 10px;
}
.side-item.active {
  border-radius: 8px;
  background-color: #d1d9e4;
  line-height: 24px;
  padding: 4px;
  padding-left: 10px;
}
.sidebar-item {
  width: 100%;
}
.dashboard-content-area {
  margin-left: 270px;
  background: white;
  border-radius: 8px;
  min-height: calc(100vh - 100px);
  padding: 20px;
  color: #000;
}

.notification-example {
  position: relative;
  border-radius: 16px;
  background-color: #f2f4f9;
  padding: 10px 30px;
  margin-bottom: 20px;

}
.notification-example1 {
  position: relative;
  font-size: 16px;
  
  font-family: Inter;
  color: #000;
  text-align: left;
  /* margin-bottom: 10px; */
  
}

.dashboard1{
  line-height: 46px;
}

.dashboard-content-box{
  position: relative;
  border-radius: 12px;
  background-color: rgba(217, 217, 217, 0);
  border: 1px solid #d1d9e4;
  box-sizing: border-box;
  width: 100%;
  min-height: 198px;
  padding: 20px;
  padding-bottom: 30px;
  overflow-x: auto;
}
.basic-details{
  font-size: 18px;
  color: #000;
}




